---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.avatar {
    border-radius: 0;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

/* Adjust site title size */
.site-title {
  font-size: 4em; /* Adjust this value as needed */
}

